<h1>Bookmarks</h1>
<form action="/bookmarks" method="post">
  <input type="text" name="bookmark_title" placeholder="bookmark title" required>
  <input type="text" name="bookmark_url" placeholder="bookmark url" required>
  <input type="submit" value="Add bookmark">
</form>


<ul>
  <% @bookmarks.each do |bookmark| %>
    <li><a href="<%= bookmark['title']%>"><%= bookmark['title'] %></a></li>
  <% end %>
</ul>
